<div onclick="window.location.href='replay/<%= replay.id %>';" class="replay">
      <%-'<a onclick="stopPropagation()" target="_blank" href="http://play.prismata.net/?r=' + replay.id +'">' +
      replay.players[0].name + ' (' + replay.players[0].rating + ') vs. ' +
      replay.players[1].name + ' (' + replay.players[1].rating + ')' +
      '</a> <br>' %>
      <% for (var i = 0; i < replay.randomCards.length; ++i) { %><% if (i != 0) { %>, <% } %><%-replay.randomCards[i]%><% } %> <br>
      Winner: <% if (replay.result == 0 || replay.result == 1) { %><%= replay.players[replay.result].name %><% } else { %>DRAW<% } %> <br>
      Number of Turns: <%= replay.length %> <br>
      <%= replay.start %>
    </div>
