<div class="replay">
  <%- include ../utilities.ejs -%>
  <% var seconds = "" + Math.round(replay.duration) % 60;
     var durationString = Math.floor(replay.duration / 60) + "m. " + seconds + "s."; -%> 
   <h3><%= replayTitle(replay) %></h3>
      <% for (var i = 0; i < replay.randomCards.length; ++i) { -%>
  <img width=50 height=50 src="/images/unit_portraits/<%= replay.randomCards[i].replace(/ /g,'') %>.png" alt="<%= replay.randomCards[i] %>" title="<%= replay.randomCards[i] %>">
      <% } -%>
  <br> <br>
        Replay Code: <a href="replay/<%= replay.code %>"><%= replay.code %></a> <br>
        <%= replay.rated ? "Arena Game" : "Casual Game" %> - <%= replay.timeControls == Number.MAX_VALUE ? "No time controls" : replay.timeControls + "s. per turn" %><br>
        <%= replay.length %> turns in <%= durationString %> <br>
        <br>
        <em><%= dateToString(replay.date) %></em>
      </div>
