<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>Primsata Replay Store</title>
  </head>

  <body>
    <h1>Prismata Replay Store</h1>
    <% if (replay) { %><%-'<a target="_blank" href="http://play.prismata.net/?r=' + replay.id +'">'
        + replay.players[0].name + ' (' + replay.players[0].rating + ') vs. '
        + replay.players[1].name + ' (' + replay.players[1].rating + ')'
        + '</a> <br>' %>
    <% for (var i = 0; i < replay.randomCards.length; ++i) { %><%-replay.randomCards[i]%><% if (i < replay.randomCards.length - 1) { %>, <% } %><% } %> <br>
    Winner: <% if (replay.result == 0 || replay.result == 1) { %><%= replay.players[replay.result].name %><% } else { %>DRAW<% } %> <br>
    Number of Turns: <%= replay.length %> <br>
    <%= replay.start %> 
    <% } else if (error) { %> <%= error %> <% } %>
  </body>
</html>

