<!DOCTYPE html>
<html lang="en">
  <% var title = "Prismata Replays" %><%- include partials/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <%- include partials/login.ejs %> <% for (i = 0; i < replays.length; ++i) { var replay = replays[i]; %> 
    <%- include partials/replay.ejs %><% } %> <% if (error) { %> <%= error %> <% } %>
  </body>
</html>

