<!DOCTYPE html>
<html lang="en" ng-app="prismata-replays">
  <% var title = "Prismata Replays : "; if (replayCode) { title += replayCode; } else { title += "Error"; } -%> 
  <%- include header.ejs -%>
  
  <body ng-controller="ReplayViewController as replayCtrl" replay-code="<%= replayCode %>">
    <navigation-bar></navigation-bar>
    <h1><%= title  %></h1>
    <h2 ng-if="replayCtrl.replay != null">{{replayCtrl.replay | replayTitle}} <br> {{replayCtrl.replay.date | date : "medium"}}</h2>
    <h2 class="error" ng-if="replayCtrl.error != null">{{replayCtrl.error.message}}</h2>
    <replay-iframe replay-code="<%= replayCode %>"></replay-iframe>
    <comments-section replay-code="<%= replayCode %>"></comments-section>
  </body>
</html>
