<!DOCTYPE html>
<html lang="en">
  <%- include utilities.ejs -%>
  <% var title = "Prismata Replays : "; if (replay) { title += replay.code; } else { title += "Error"; } -%>
  
  <%- include partials/header.ejs -%>
  
  <body>
    <%- include partials/navigation_bar.ejs %>
    <h1><%= title  %></h1>
<% if (replay) { -%>
    <h2><%= replayTitle(replay) %> <br> <%= dateToString(replay.date) %></h2>
    <p id="no_flash_message"><em>You browser doesn't have flash enabled. You need flash to be able to watch the replay.</em></p>
    <div class="center_hack">
      <iframe id="prismata_iframe" scrolling="no" src="http://play.prismata.net/?r=<%= replay.code %>" width="1050" height="675"></iframe>
    </div>
    <br>
<% for (var i = 0; i < comments.length; ++i) { var comment = comments[i]; -%>
    <%- include partials/comment.ejs -%>
    <br>
<% } -%>
<% if (user) { -%>
    <form action="" method="POST">
      <textarea name="comment" placeholder="Comment"></textarea><br>
      <input type="submit" value="Add comment">
    </form>
<% } -%>
<% } -%>
    <%- include partials/errors.ejs -%>
    <script type="text/javascript">
      if (hasFlash()) {
        document.getElementById("no_flash_message").style.display = "none";
      } else {
        document.getElementById("prismata_iframe").style.display = "none";
      }
    </script>
  </body>
</html>
